{% extends "base.html" %}
    {% block head_title%} Noticias | {{ block.super }} {% endblock %}

   
{% block content %}
    <div class="col-sm-10 col-sm-offset-1">
        {% if objects_list %}
            <!-- <h2><strong><center>{{ title }}</center></strong></h2> -->
            <center>
            <form method="GET" action="">
                <input class="text-align-center" type="text" name="q" placeholder="Buscar Noticia" value="{{ request.GET.q }}"/>
                <input type="submit" value="Buscar" />
            </form>
            </center>
            <!-- {{ objects_list }} <br/> -->
            <br>
        {% endif %}

        {% for obj in objects_list %}
            {% if user.Administrador or user.Egresado and not user.is_superuser %}
                <div class="row">
                    <div class="col-sm-12">    
                        <div class="thumbnail">
                            {% if obj.imagen %}
                            <img src="{{ obj.imagen.url }}" class="img-responsive"/>
                            {% endif %}
                            <div class="caption">
                                {% if obj.draft %} <h3>Borrador</h3>{% endif %}{% if obj.publish > hoy %} <h3>Post Futuro </h3>{% endif %}
                                <h3><a href="{{ obj.get_absolute_url }}">{{ obj.titulo }}</a><small> {{ obj.publish }} </small></h3>
                                {%  if obj.user.get_full_name %}
                                    <p><strong> Autor: </strong> {{ obj.user.get_full_name }} {% if obj.categorias %}<strong>  Categorias: </strong> {% for category in obj.categorias.all %}{{category.nombre}}{% if not forloop.last %}, {% endif %}{% endfor %} {% endif %}</p>
                                {% else %}
                                <p><strong> Autor: </strong>{{ obj.user }}  {% if obj.categorias %}<strong>  Categorias: </strong> {% for category in obj.categorias.all %}{{category.nombre}}{% if not forloop.last %}, {% endif %}{% endfor %} {% endif %}</p>
                                {% endif %}
                                <p>{{ obj.contenido|linebreaks|truncatechars:50 }} </p>
                                <p class="text-center"><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Ver Noticia</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    {% if objects_list %}
        <div class="pagination">
            <span class="step-links">
                {% if objects_list.has_previous %}
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; primera</a>
                    <a href="?page={{ objects_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Pag. {{ objects_list.number }} de {{ objects_list.paginator.num_pages }}.
                </span>
        
                {% if objects_list.has_next %}
                    <a href="?page={{ objects_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">siguiente</a>
                    <a href="?page={{ objects_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">ultima &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
    <br/>
        <div class="alert alert-info"><center><p>¡Aun no hay noticias por mostrar!</p></center>  </div>
    {% endif %}
    </div>
{% endblock %}
