{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title%}Habilitar Usuario | {{ block.super }} {% endblock %}

{% block content %}
    <div class="col-sm-10 col-sm-offset-1">
    {% if user.is_superuser %}
        {% for obj in objects_list %}
                
                    <div class="row">
                        
                        <div class="panel-body">
                            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                                {% if not obj.imagen_Perfil %}
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                                {% else %}
                                    <img src="{{ obj.imagen_Perfil.url }}" class="img-circle img-responsive"/>
                                {% endif %}
                    
                            </div>
                                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                                        <div class="container" >
                                            <h2><strong>{{ obj.username }}</strong></h2>
                                            <p>Estado: <b> {% if obj.is_superuser %} Superusuario {% endif %}{% if obj.Administrador %} Administrador {% endif %}{% if obj.is_active %} Inhabilidato {% endif %} </b></p>
                                        </div>
                                        <hr>
                                            <ul class="container details" >
                                                <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>{% if obj.get_full_name %}{{ obj.get_full_name }} {% else %}{{ obj.username }} {% endif %}</p></li>
                                                <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ obj.email }}</p></li>                          
                                            </ul>
                                            <hr>
                                            <div class="col-sm-12 col-xs-12 tital " >Se unió: {{ obj.date_joined }}</div>
                                            
                                </div>
                        </div>
                        <hr>
                        <p class="text-center"><a href="{% url 'users:userenabledetailadmin' id=obj.id %}" class="btn btn-primary" role="button">Habilitar Usuario</a>
                        <a href="{% url 'portal:inicio' %}" class="btn btn-primary" role="button">Cancelar</a> </p>
                    </div>
        {% endfor %}
    {% endif %}
    {% if objects_list %}
        <div class="pagination">
            <span class="step-links">
                {% if objects_list.has_previous %}
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; primero</a>
                    <a href="?page={{ objects_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Usuario {{ objects_list.number }} de {{ objects_list.paginator.num_pages }}
                </span>
        
                {% if objects_list.has_next %}
                    <a href="?page={{ objects_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">siguiente</a>
                    <a href="?page={{ objects_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">último &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <br/>
        <div class="alert alert-info"><center><p>¡No tienes solicitudes nuevas!</p></center>  </div>
    {% endif %}
    </div>
{% endblock %}
